Repository deedee-ops/nix-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/nix, machine/router, machine/supervisor, machine/piecyk, profile/personal

fix(piecyk): fix everdo crash on startup
  modules/home-manager/xorg/awesome.nix
Labels: area/nix

fix(piecyk): fix rofi window switcher for awesome
  modules/home-manager/xorg/awesome/bindings/globalkeys.lua
  modules/home-manager/xorg/rofi.nix
  modules/home-manager/xorg/rofi/powermenu/powermenu.sh.tmpl
Labels: area/nix

chore(renovate): maintain flake locks
  .github/renovate.json5
Labels: area/github

feat(piecyk): custom todo rofi script
  modules/home-manager/xorg/awesome/bindings/globalkeys.lua
  modules/home-manager/xorg/awesome/rc.lua
  modules/home-manager/xorg/rofi.nix
  modules/home-manager/xorg/rofi/todo/config.rasi
  profiles/personal/core.nix
  profiles/personal/personal.sops.yaml
Labels: area/nix, profile/personal

fix(supervisor): add missing iptables_nat module to fix wg-easy
  machines/supervisor/modules/boot.nix
Labels: machine/supervisor

fix(piecyk): use pinentry-rofi the correct way
  modules/home-manager/core/gpg.nix
  modules/home-manager/xorg/default.nix
  modules/home-manager/xorg/rofi.nix
Labels: area/nix

fix(piecyk): add dri support for opengl
  modules/nvidia.nix
Labels: area/nix

fix(router): assign static IP for desktop PC
  machines/piecyk/networking.nix
  machines/router/modules/bind.nix
  machines/router/modules/kea.nix
Labels: machine/router, machine/piecyk

fix(piecyk): open everdo port on firewall
  machines/piecyk/networking.nix
Labels: machine/piecyk

.github/labeler.yaml:

---
# yaml-language-server: disabled
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/nix:
  - changed-files:
      - any-glob-to-any-file: modules/**/*
machine/router:
  - changed-files:
      - any-glob-to-any-file: machines/router/**/*
machine/supervisor:
  - changed-files:
      - any-glob-to-any-file: machines/supervisor/**/*
machine/piecyk:
  - changed-files:
      - any-glob-to-any-file: machines/piecyk/**/*
profile/personal:
  - changed-files:
      - any-glob-to-any-file: profiles/personal/**/*
