Repository deedee-ops/nix-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/nix, machine/router, machine/supervisor, machine/piecyk, profile/personal

.github/labeler.yaml:

---
# yaml-language-server: disabled
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/nix:
  - changed-files:
      - any-glob-to-any-file: modules/**/*
machine/router:
  - changed-files:
      - any-glob-to-any-file: machines/router/**/*
machine/supervisor:
  - changed-files:
      - any-glob-to-any-file: machines/supervisor/**/*
machine/piecyk:
  - changed-files:
      - any-glob-to-any-file: machines/piecyk/**/*
profile/personal:
  - changed-files:
      - any-glob-to-any-file: profiles/personal/**/*

chore: update pinned digest, and fix renovate custom manager
  .github/renovate/customManagers.json5
  .github/workflows/linter.yaml
Labels: area/github

chore: fix linting issues
  .github/renovate.json5
  .github/workflows/linter.yaml
  machines/piecyk/hardware-configuration.nix
  machines/piecyk/modules/boot.nix
  machines/router/hardware-configuration.nix
  machines/router/modules/bind.nix
  machines/router/modules/ddclient.nix
  machines/supervisor/hardware-configuration.nix
  modules/home-manager/local/default.nix
  modules/home-manager/xorg/awesome.nix
  modules/home-manager/xorg/default.nix
  modules/home-manager/xorg/firefox.nix
  modules/home-manager/xorg/nixgl.nix
  modules/home-manager/xorg/redshift.nix
  modules/home-manager/xorg/zoom.nix
  modules/nvidia.nix
  modules/options.nix
Labels: area/github, area/nix, machine/router, machine/supervisor, machine/piecyk

fix(router): use self as nameserver
  machines/router/networking.nix
Labels: machine/router

feat(supervisor): add attic
  flake.lock
  flake.nix
  machines/piecyk/default.nix
  machines/piecyk/secrets.sops.yaml
  machines/router/default.nix
  machines/router/modules/bind.nix
  machines/router/secrets.sops.yaml
  machines/supervisor/default.nix
  machines/supervisor/modules/attic-server.nix
  machines/supervisor/secrets.sops.yaml
  modules/attic-client.nix
  modules/cache.nix
Labels: area/nix, machine/router, machine/supervisor, machine/piecyk

fix(piecyk): remove untrusted interface, as VLAN200 is now native
  machines/piecyk/networking.nix
Labels: machine/piecyk

fix(piecyk): support for yamllint in neovim
  modules/home-manager/core/nvim.nix
Labels: area/nix

fix(router): reserve IPs for VMs
  machines/router/modules/kea.nix
Labels: machine/router

feat(router): add extra entries to home.arpa
  machines/router/modules/bind.nix
  machines/router/secrets.sops.yaml
Labels: machine/router

feat(supervisor): add wg-easy
  machines/router/modules/bind.nix
  machines/router/modules/firewall.nix
  machines/supervisor/modules/arion-wg-easy.nix
  machines/supervisor/modules/docker.nix
Labels: machine/router, machine/supervisor

fix(piecyk): move nvidia related config to proper module
  machines/piecyk/default.nix
  machines/piecyk/modules/xorg.nix
  modules/nvidia.nix
Labels: area/nix, machine/piecyk

fix(piecyk): disable another form of telemetry in firefox
  modules/home-manager/local/firefox.nix
Labels: area/nix

feat(supervisor): add postgresql
  machines/supervisor/modules/arion-postgresql.nix
  machines/supervisor/modules/docker.nix
  machines/supervisor/secrets.sops.yaml
Labels: machine/supervisor

feat(supervisor): switch attic to postgresql
  flake.lock
  flake.nix
  machines/supervisor/modules/attic-server.nix
  machines/supervisor/modules/docker.nix
  machines/supervisor/secrets.sops.yaml
  modules/attic-client.nix
Labels: area/nix, machine/supervisor

fix(router): restart ddclient if cloudflare token ever changes
  machines/router/modules/ddclient.nix
Labels: machine/router

fix(piecyk): add missing dunst assets
  modules/home-manager/xorg/dunst.nix
  modules/home-manager/xorg/dunst/play-sound.sh.tmpl
Labels: area/nix

fix(router): fix trusted vlan routing
  machines/router/modules/kea.nix
Labels: machine/router

fix(router): move omada to trusted vlan
  machines/router/modules/bind.nix
Labels: machine/router

feat: harden firewalls
  machines/router/modules/firewall.nix
  machines/supervisor/default.nix
  machines/supervisor/modules/firewall.nix
  machines/supervisor/networking.nix
Labels: machine/router, machine/supervisor

feat: harden firewalls
  machines/router/modules/firewall.nix
  machines/supervisor/default.nix
  machines/supervisor/modules/firewall.nix
  machines/supervisor/networking.nix
Labels: machine/router, machine/supervisor

fix(kea): fix routes on android
  machines/router/modules/kea.nix
Labels: machine/router

feat: add monitoring
  machines/router/default.nix
  machines/router/modules/firewall.nix
  machines/supervisor/default.nix
  machines/supervisor/modules/firewall.nix
  modules/monitoring.nix
Labels: area/nix, machine/router, machine/supervisor

fix(piecyk): fix dunst notification sound
  modules/home-manager/xorg/awesome/scripts.tmpl/dunst-sound.sh
  modules/home-manager/xorg/dunst.nix
  modules/home-manager/xorg/dunst/play-sound.sh.tmpl
Labels: area/nix

fix(router): allow BGP traffic from k8s
  machines/router/modules/firewall.nix
Labels: machine/router

fix(router): harden WLAN masquerade
  machines/router/modules/firewall.nix
Labels: machine/router

feat(piecyk): suspending and lockscreen
  machines/piecyk/default.nix
  machines/piecyk/modules/power.nix
  machines/piecyk/networking.nix
  modules/home-manager/xorg/awesome.nix
  modules/home-manager/xorg/betterlockscreen.nix
  modules/home-manager/xorg/default.nix
  modules/home-manager/xorg/rofi/powermenu/powermenu.sh.tmpl
  modules/nvidia.nix
Labels: area/nix, machine/piecyk

feat(router): move adguard to trusted VLAN
  machines/router/modules/bind.nix
Labels: machine/router

fix(piecyk): fix gtk themes config
  modules/home-manager/xorg/awesome.nix
  modules/home-manager/xorg/default.nix
  modules/home-manager/xorg/gtk.nix
Labels: area/nix

fix(piecyk): fix broken aichat version
  modules/home-manager/core/aichat.nix
Labels: area/nix

feat(piecyk): add catpuccin to qt6
  modules/home-manager/xorg/qt.nix
Labels: area/nix

feat(piecyk): add btop
  modules/home-manager/core/btop.nix
  modules/home-manager/core/default.nix
  modules/users.nix
Labels: area/nix

feat(piecyk): add theme and scripts to mpv
  modules/home-manager/local/mpv.nix
  modules/home-manager/local/mpv/script-opts/stats.conf
  modules/home-manager/local/mpv/script-opts/uosc.conf
  modules/home-manager/xorg/default.nix
Labels: area/nix

chore: flake update and add nixpkgs-unstable to nixos
  flake.lock
  flake.nix
  modules/os.nix
Labels: area/nix

feat(piecyk): configure firefox
  modules/home-manager/local/firefox.nix
Labels: area/nix

feat(piecyk): clean up XDG, add thunderbird
  modules/home-manager/core/bash.nix
  modules/home-manager/core/default.nix
  modules/home-manager/core/xdg.nix
  modules/home-manager/local/default.nix
  modules/home-manager/local/firefox.nix
  modules/home-manager/local/thunderbird.nix
  modules/home-manager/xorg/awesome.nix
  modules/home-manager/xorg/awesome/rc.lua
  modules/home-manager/xorg/firefox.nix
  modules/os.nix
Labels: area/nix

fix(supervisor): omada controller versioning
  machines/supervisor/modules/arion-omada-controller.nix
Labels: machine/supervisor

fix: switch cpu governor from powersave to ondemand
  flake.lock
  flake.nix
  machines/router/default.nix
  machines/router/modules/bind.nix
  machines/router/modules/kea.nix
  modules/os.nix
Labels: area/nix, machine/router

fix(piecyk): refactor networking to systemd
  flake.lock
  machines/piecyk/networking.nix
  modules/cache.nix
  modules/users.nix
Labels: area/nix, machine/piecyk

fix(piecyk): refactor networking to systemd
  flake.lock
  machines/piecyk/modules/power.nix
  machines/piecyk/networking.nix
  modules/cache.nix
  modules/users.nix
Labels: area/nix, machine/piecyk

feat(piecyk): add everdo
  modules/home-manager/xorg/awesome.nix
  modules/home-manager/xorg/awesome/rc.lua
  modules/home-manager/xorg/default.nix
  modules/home-manager/xorg/everdo.nix
  pkgs/everdo.nix
Labels: area/nix

fix(router): make mac addresses standards-compatible (use reserved space)
  machines/router/modules/kea.nix
  machines/router/networking.nix
Labels: machine/router
